<!DOCTYPE HTML>

<html>

<head>
	<title> Mascotas</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

	<!-- some styles to the table -->
	<style>
		.mythead th:last-child{
			text-align: center;
		}
		
		.buttons{
			display: flex;
			justify-content: space-evenly;
		}
		.btn-primary{
			background-color: cornflowerblue;
		}
		.btn-edit{
			background-color: red;
		}
		.inputPet{
			margin-bottom: 2rem;
		}
	</style>

	<!-- Header -->
	<header id="header">
		
		<a href="#menu"><span>Menu</span></a>
	</header>

	<%- include('templates/nav') %>
	
	<div class="container" style="margin-top: 200px;">
		<!-- Table mascotas -->
		<a href="mascotas/crear"><button class="btn btn-primary inputPet">Ingresar Mascota</button></a>
		<h4>Mascotas</h4>

			<table class="table table-bordered table-striped text-center mt-4">
				<thead class="mythead">
				  <tr class="bg-primary text-white">
					  <th scope="col">ID</th>
					  <th scope="col">Nombre</th>
					  <th scope="col">Descripton</th>
					  <th scope="col">ACCIONES</th>
				  </tr>
				</thead>
				<tbody>
  
					  <% arrayPets.forEach(pet => { %>                  
						<tr>  
							<td><%= pet.id %>  </td>
							<td><%= pet.nombrep %> </td>
							<td><%= pet.description %> </td>
							<td class="buttons">
								<button type="button" class="btn btn-primary">Edit</button>
								<button type="button" class="btn btn-edit">Delete</button>
							</td>
						</tr>                 
					  <% }); %>
				</tbody>
			</table>
  
		</div>

	</div>

	<%- include('templates/footer') %>

</body>

</html>